@page "/"
@inject HttpClient Http
@using BlazorVirtualGrid.App.Services

@if (Data == null)
{
    <Loader></Loader>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <VGrid Data=@Data>
                <VGridColumn Field="@nameof(GridModel.ContactName)" Width=150 StickToLeft=true></VGridColumn>
                <VGridColumn Field="@nameof(GridModel.CustomerID)" Width=150 StickToLeft=true></VGridColumn>
                <VGridColumn Field="@nameof(GridModel.CompanyName)" Width=150></VGridColumn>
                <VGridColumn Field="@nameof(GridModel.ContactTitle)" Width=150></VGridColumn>
                <VGridColumn Field="@nameof(GridModel.Address)" Width=150></VGridColumn>
            </VGrid>
        </div>
        <div class="col-md-6">
        </div>
    </div>
}

@functions {

    GridModel[] Data;

    protected override async Task OnInitAsync()
    {
        Data = await Http.GetJsonAsync<GridModel[]>("sample-data/data.json");
        await base.OnInitAsync();
    }

}